<!DOCTYPE html>
<html>
  <head>
    <title>Railsbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.signup1URL = "<%= image_url('signup1.png') %>";
      window.signup2URL = "<%= image_url('signup2.png') %>";
      window.signup3URL = "<%= image_url('signup3.png') %>";
      window.navLogoURL = "<%= image_url('nav-logo.png') %>";
      window.navRequestsURL = "<%= image_url('nav-requests.png') %>";
      window.navHelpURL = "<%= image_url('nav-help.png') %>";
      window.avatarURL = "<%= image_url('avatar.png') %>";
      window.coverURL = "<%= image_url('cover-default.jpg') %>";
      window.notFoundURL = "<%= image_url('not-found.png') %>";
      window.friendsURL = "<%= image_url('friends.png') %>";
      window.introURL = "<%= image_url('intro.png') %>";
      window.introCityURL = "<%= image_url('intro-city.png') %>";
      window.introFromURL = "<%= image_url('intro-from.png') %>";
      window.introJoinURL = "<%= image_url('intro-join.png') %>";
      window.introStudyURL = "<%= image_url('intro-study.png') %>";
      window.introWorkURL = "<%= image_url('intro-work.png') %>";





    </script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
